html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(241, 238, 238) !important;
  text-decoration: none !important;
  list-style: none !important;
}

main {
  flex: 1;
}
header {
  height: 2rem;
}

footer {
  font-size: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 3rem;
}
main {
  min-height: calc(100vh - 2rem - 3rem);
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

i {
  font-size: 0.6rem;
}

.error {
  color: red !important;
}

.noticeColor {
  color: #d63e18 !important;
}

/* button */

#search {
  transition: all 0.5s;
  padding: 0.3rem;
  align-items: center !important;
  border-radius: 10px !important;
  display: flex !important;
  justify-content: space-between !important;
  background: rgb(247, 247, 247);
  position: relative;
}

#search button,
#search input {
  appearance: none;
  background: transparent;
  border: 0 !important;
  color: inherit;
  outline: inherit;
}

#search button {
  cursor: pointer !important;
  padding: 0 0.2rem;
}

/* posts */

.postBgImg {
  background: url("/img/blue3.jpg") no-repeat center center/cover;
}

.pointer {
  cursor: pointer !important;
}

.userLiked {
  color: rgb(26, 116, 122) !important;
}

/* passwordupdateform */
.passwordForm {
  outline: transparent !important;
  border: 0 !important;
  border-color: white !important;
  border-radius: 25px !important;
  width: 100%;
}
