.messenger {
  display: flex;
  margin-top: 4rem;
}

.chatMenu {
  display: none;
}

.chatBox {
  flex: 5.5;
}
.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatMessageInput {
  width: 100% !important;
  padding: 10px !important;
  height: 90px !important;
}

.chatOnline {
  flex: 3;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  position: relative !important;
  /* justify-content: space-between; */
}

.chatBoxTop {
  height: 30px;
  overflow-y: scroll !important;
  padding-right: 9px;
  flex: 1;
}

.chatMenuWrapper,
.chatOnline,
.chatBox {
  padding: 9px;
  height: 70px;
}
.chatSearchInput {
  width: 90% !important;
  padding: 9px 0 !important;
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid gray !important;
}

.conversation {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.conversationName {
  font-weight: 400;
}
.conversationImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.noConversation {
  position: absolute !important;
  top: 30% !important;
  font-size: 20px;
  cursor: default;
  color: rgb(80, 79, 78);
  padding-top: 40px;
}

@media screen and (max-device-width: 700px) {
  .chatOnline {
    flex: 3 !important;
  }
  .chatBox {
    flex: 8 !important;
  }
}
