.profile-card {
  gap: 1rem;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.image-container {
  position: relative;
  padding: 1rem;
}

.followTab {
  margin-top: 3rem;
}

.image-container img {
  width: 70%;
  object-fit: contain;
  height: 20rem;
  margin-left: 1rem;
  padding: 1rem;
}

.image-container .form {
  width: 70%;
  margin-left: 1rem;
}
.main-container {
  height: 30rem;
}

.main-container .profile-details {
  width: 100%;
  display: block;
}

.main-container .profile-details h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.main-container .profile-details h4 span {
  margin-left: 10px;
}

.main-container .profile-details p {
  padding: 1rem;
  background-color: rgb(13, 228, 181, 0.3);
  border-radius: 2%;
  color: black;
  width: 80%;
}

@media (max-width: 991px) {
  /* header  */

  .image-container img {
    width: 60%;
    padding: 0.1rem;
  }
  .main-container .profile-details p {
    margin-left: 1rem;
  }
  .main-container .profile-details h4 {
    font-size: 1.5rem;
  }
  .followTab {
    margin-top: 4rem;
  }
}

@media screen and (max-device-width: 500px) {
  .image-container img {
    width: 80vw;
    height: 17rem;
  }

  .followTab {
    margin-top: 6rem;
  }

  .followTab {
    margin-bottom: -3rem;
  }
  .profile-card {
    gap: 0rem;
  }

  .main-container {
    height: 10rem;
  }

  .main-container .profile-details {
    width: 90vw;
    display: block;
  }
}
