.topsy {
  display: flex;
  margin-top: 50px;
  padding: 10px;
  justify-content: space-between;
  font-size: 19px;
  align-items: center;
}

.lp {
  padding: 8px;
  background-color: black !important;
  color: white !important;
  text-decoration: none;
  border-radius: 30px;
}

.cp {
  padding: 8px;
  border-radius: 30px;
  background-color: black !important;
  color: white !important;
  text-decoration: none;
}

.linky,
.linky:hover {
  color: white;
}

@media screen and (max-device-width: 700px) {
  .lp {
    padding: 10px;
  }

  .topsy {
    display: flex;
    margin-top: 50px;
    padding: 5px;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
  }
}

.footer {
  font-size: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 1px;
}
